a{
  color: inherit;
  text-decoration: none
}

.video, .canva{
  width: 100vw;
  /* background: #000; */
  /* height: auto; */
  /* max-width: 100vw; */
  /* object-fit: cover; */
}
.canva{
  height: fit-content;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.captureButton{
margin: 10px auto !important;
display: block !important;
}
.iconactive, .activeTextButton{
  color: #212985 !important;
}